# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment (kalau ada)
.venv/
venv/
env/

# uv
.uv/
*.egg-info/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Database (kalau pakai SQLite)
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Build / distribution
dist/
build/

# uv
.python-version